In [1]:
# Load packages and read in raw data

import pandas as pd
import numpy as np

dete = pd.read_csv('../dete-exit-survey-january-2014.csv', 
                    na_values='Not Stated' #replace 'Not Stated' values with nulls
                  )
tafe = pd.read_csv('../tafe-employee-exit-survey-access-database-december-2013.csv', 
                   encoding='iso-8859-1'
                  )

# Remove unnecessary columns

dete_updated = dete.drop(dete.columns[28:49], axis=1)
tafe_updated = tafe.drop(tafe.columns[17:66], axis=1)

In [2]:
# Set column and row display maximums

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [3]:
# Explore data

print(dete_updated.shape)
dete_updated.head(20)

# Columns to keep for analysis - ID, SeparationType, Cease Date, dete_updated Start Date, Gender, Age

(822, 35)

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,Career move to public sector,Career move to private sector,Interpersonal conflicts,Job dissatisfaction,Dissatisfaction with the department,Physical work environment,Lack of recognition,Lack of job security,Work location,Employment conditions,Maternity/family,Relocation,Study/Travel,Ill Health,Traumatic incident,Work life balance,Workload,None of the above,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984.0,2004.0,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,NaN,NaN,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011.0,2011.0,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005.0,2006.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970.0,1989.0,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN
5,6,Resignation-Other reasons,05/2012,1994.0,1997.0,Guidance Officer,NaN,Central Office,Education Queensland,Permanent Full-time,False,True,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,Female,41-45,NaN,NaN,NaN,NaN,NaN
6,7,Age Retirement,05/2012,1972.0,2007.0,Teacher,Secondary,Darling Downs South West,NaN,Permanent Part-time,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,Female,56-60,NaN,NaN,NaN,NaN,NaN
7,8,Age Retirement,05/2012,1988.0,1990.0,Teacher Aide,NaN,North Coast,NaN,Permanent Part-time,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN
8,9,Resignation-Other reasons,07/2012,2009.0,2009.0,Teacher,Secondary,North Queensland,NaN,Permanent Full-time,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,Female,31-35,NaN,NaN,NaN,NaN,NaN
9,10,Resignation-Other employer,2012,1997.0,2008.0,Teacher Aide,NaN,NaN,NaN,Permanent Part-time,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,Female,46-50,NaN,NaN,NaN,NaN,NaN
10,11,Age Retirement,2012,1999.0,1999.0,Teacher,Primary,Central Office,Education Queensland,Permanent Full-time,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,Male,61 or older,NaN,NaN,NaN,NaN,NaN
11,12,Resignation-Move overseas/interstate,2012,2009.0,2009.0,Teacher,Secondary,Far North Queensland,NaN,Permanent Full-time,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,Male,31-35,NaN,NaN,NaN,NaN,NaN
12,13,Resignation-Other reasons,2012,1998.0,1998.0,Teacher,Primary,Far North Queensland,NaN,Permanent Full-time,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
13,14,Age Retirement,2012,1967.0,2000.0,Teacher,Primary,Metropolitan,NaN,Permanent Part-time,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN
14,15,Resignation-Other employer,2012,2007.0,2010.0,Teacher,Secondary,Central Queensland,NaN,Permanent Full-time,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,Male,31-35,NaN,NaN,NaN,NaN,NaN
15,16,Voluntary Early Retirement (VER),2012,1995.0,2004.0,Teacher,Secondary,Central Queensland,NaN,Permanent Full-time,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,Male,61 or older,NaN,NaN,NaN,NaN,NaN
16,17,Resignation-Other reasons,2012,NaN,NaN,Teacher Aide,NaN,South East,NaN,Permanent Part-time,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,Male,61 or older,NaN,NaN,NaN,NaN,NaN
17,18,Age Retirement,2012,1996.0,1996.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,Female,56-60,NaN,NaN,NaN,NaN,NaN
18,19,Age Retirement,2012,2006.0,2006.0,Cleaner,NaN,Central Office,Education Queensland,Permanent Full-time,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,Female,61 or older,NaN,NaN,NaN,NaN,NaN
19,20,Age Retirement,2012,1989.0,1989.0,Cleaner,NaN,Central Office,Education Queensland,Permanent Full-time,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,Male,61 or older,NaN,NaN,NaN,NaN,NaN

In [4]:
print(tafe_updated.shape)
tafe_updated.head(20)

(702, 23)

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,Contributing Factors. Dissatisfaction,Contributing Factors. Job Dissatisfaction,Contributing Factors. Interpersonal Conflict,Contributing Factors. Study,Contributing Factors. Travel,Contributing Factors. Other,Contributing Factors. NONE,Gender. What is your Gender?,CurrentAge. Current Age,Employment Type. Employment Type,Classification. Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,634133009996094000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,634133654064531000,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,-,-,-,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
2,634138845606563000,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,-,-,-,-,-,-,NONE,NaN,NaN,NaN,NaN,NaN,NaN
3,634139903350000000,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,-,-,-,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
4,634146578511788000,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,-,-,-,-,-,-,-,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4
5,634147506906311000,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,-,-,-,-,-,-,-,-,-,Other,-,Female,56 or older,Contract/casual,Teacher (including LVT),7-10,7-10
6,634152007975694000,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,Maternity/Family,-,-,-,-,-,Other,-,Male,20 or younger,Temporary Full-time,Administration (AO),3-4,3-4
7,634153745310374000,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,-,-,-,-,-,-,-,-,-,Other,-,Male,46 50,Permanent Full-time,Teacher (including LVT),3-4,3-4
8,634157899735969000,Southern Queensland Institute of TAFE,Delivery (teaching),2009.0,Resignation,-,-,-,-,-,-,-,-,-,-,Other,-,Female,36 40,Temporary Full-time,Tutor,3-4,3-4
9,634158812168312000,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,-,-,-,-,-,Other,-,Female,21 25,Permanent Full-time,Administration (AO),1-2,1-2
10,634158825838625000,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,-,-,-,-,-,-,-,Female,41 45,Temporary Part-time,Administration (AO),Less than 1 year,Less than 1 year
11,634171926251752000,Barrier Reef Institute of TAFE,Delivery (teaching),2010.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,56 or older,Permanent Part-time,Tutor,11-20,11-20
12,634171929735346000,Barrier Reef Institute of TAFE,Delivery (teaching),2010.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,51-55,Permanent Full-time,Teacher (including LVT),3-4,3-4
13,634172522831440000,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,-,-,-,-,-,-,-,Female,31 35,Temporary Full-time,Administration (AO),11-20,Less than 1 year
14,634172609223344000,Central Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,Contributing Factors. Dissatisfaction,Job Dissatisfaction,-,-,-,-,-,Female,31 35,Permanent Part-time,Teacher (including LVT),7-10,7-10
15,634176076134409000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,-,-,-,-,-,Other,-,Female,46 50,Permanent Part-time,Technical Officer (TO),11-20,11-20
16,634177007457719000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,634177053480062000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,-,Job Dissatisfaction,-,-,-,-,-,Female,31 35,Permanent Full-time,Administration (AO),7-10,1-2
18,634177938010971000,Brisbane North Institute of TAFE,Delivery (teaching),2010.0,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,634181972647250000,Southbank Institute of Technology,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,-,-,-,-,-,-,NONE,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dete_updated.isnull().sum()

ID                                       0
SeparationType                           0
Cease Date                              34
DETE Start Date                         73
Role Start Date                         98
Position                                 5
Classification                         367
Region                                 105
Business Unit                          696
Employment Status                        5
Career move to public sector             0
Career move to private sector            0
Interpersonal conflicts                  0
Job dissatisfaction                      0
Dissatisfaction with the department      0
Physical work environment                0
Lack of recognition                      0
Lack of job security                     0
Work location                            0
Employment conditions                    0
Maternity/family                         0
Relocation                               0
Study/Travel                             0
Ill Health                               0
Traumatic incident                       0
Work life balance                        0
Workload                                 0
None of the above                        0
Gender                                  24
Age                                     11
Aboriginal                             806
Torres Strait                          819
South Sea                              815
Disability                             799
NESB                                   790
dtype: int64

In [6]:
tafe_updated.isnull().sum()

Record ID                                                                      0
Institute                                                                      0
WorkArea                                                                       0
CESSATION YEAR                                                                 7
Reason for ceasing employment                                                  1
Contributing Factors. Career Move - Public Sector                            265
Contributing Factors. Career Move - Private Sector                           265
Contributing Factors. Career Move - Self-employment                          265
Contributing Factors. Ill Health                                             265
Contributing Factors. Maternity/Family                                       265
Contributing Factors. Dissatisfaction                                        265
Contributing Factors. Job Dissatisfaction                                    265
Contributing Factors. Interpersonal Conflict                                 265
Contributing Factors. Study                                                  265
Contributing Factors. Travel                                                 265
Contributing Factors. Other                                                  265
Contributing Factors. NONE                                                   265
Gender. What is your Gender?                                             106
CurrentAge. Current Age                                                  106
Employment Type. Employment Type                                         106
Classification. Classification                                           106
LengthofServiceOverall. Overall Length of Service at Institute (in years)    106
LengthofServiceCurrent. Length of Service at current workplace (in years)    106
dtype: int64

In [7]:
for i in dete_updated.columns:
    print(dete_updated[i].value_counts(dropna=False))

823    1
270    1
280    1
279    1
278    1
277    1
276    1
275    1
274    1
273    1
272    1
271    1
269    1
282    1
268    1
267    1
266    1
265    1
264    1
263    1
262    1
261    1
260    1
259    1
281    1
283    1
308    1
296    1
306    1
305    1
304    1
303    1
302    1
301    1
300    1
299    1
298    1
297    1
295    1
284    1
294    1
293    1
292    1
291    1
290    1
289    1
288    1
287    1
286    1
285    1
      ..
516    1
528    1
538    1
537    1
536    1
535    1
534    1
533    1
532    1
531    1
530    1
529    1
527    1
564    1
526    1
525    1
524    1
523    1
522    1
521    1
520    1
519    1
518    1
517    1
539    1
540    1
541    1
542    1
563    1
562    1
561    1
560    1
559    1
558    1
557    1
556    1
555    1
554    1
553    1
552    1
551    1
550    1
549    1
548    1
547    1
546    1
545    1
544    1
543    1
1      1
Name: ID, Length: 822, dtype: int64
Age Retirement                          285
Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Voluntary Early Retirement (VER)         67
Ill Health Retirement                    61
Other                                    49
Contract Expired                         34
Termination                              15
Name: SeparationType, dtype: int64
2012       344
2013       200
01/2014     43
12/2013     40
09/2013     34
NaN         34
06/2013     27
07/2013     22
10/2013     20
11/2013     16
08/2013     12
05/2013      7
05/2012      6
04/2014      2
04/2013      2
02/2014      2
08/2012      2
07/2014      2
07/2006      1
09/2014      1
09/2010      1
2014         1
2010         1
11/2012      1
07/2012      1
Name: Cease Date, dtype: int64
NaN        73
 2011.0    40
 2007.0    34
 2008.0    31
 2010.0    27
 2012.0    27
 2009.0    24
 2006.0    23
 1970.0    21
 1975.0    21
 2013.0    21
 2005.0    20
 1990.0    20
 1999.0    19
 1996.0    19
 1992.0    18
 1991.0    18
 2000.0    18
 2004.0    18
 1989.0    17
 1978.0    15
 2003.0    15
 1988.0    15
 1976.0    15
 2002.0    15
 1974.0    14
 1997.0    14
 1998.0    14
 1979.0    14
 1995.0    14
 1980.0    14
 1993.0    13
 1972.0    12
 1986.0    12
 1977.0    11
 1971.0    10
 1984.0    10
 1994.0    10
 1969.0    10
 2001.0    10
 1983.0     9
 1981.0     9
 1973.0     8
 1985.0     8
 1987.0     7
 1982.0     4
 1963.0     4
 1968.0     3
 1967.0     2
 1965.0     1
 1966.0     1
Name: DETE Start Date, dtype: int64
NaN        98
 2012.0    65
 2011.0    57
 2010.0    46
 2008.0    45
 2013.0    41
 2007.0    41
 2009.0    38
 2006.0    25
 2004.0    22
 2005.0    20
 2003.0    20
 2000.0    20
 1999.0    19
 1996.0    19
 1989.0    18
 1992.0    17
 2002.0    16
 1998.0    15
 2001.0    15
 1988.0    14
 1995.0    13
 1997.0    13
 1990.0    12
 1975.0    12
 1986.0    11
 1976.0     9
 1978.0     9
 1993.0     9
 1991.0     8
 1994.0     7
 1979.0     7
 1985.0     6
 1981.0     5
 1987.0     5
 1983.0     5
 1984.0     4
 1982.0     4
 1980.0     3
 1977.0     2
 1970.0     2
 1974.0     1
 1971.0     1
 1973.0     1
 200.0      1
 1972.0     1
Name: Role Start Date, dtype: int64
Teacher                                                    324
Teacher Aide                                               137
Public Servant                                             126
Cleaner                                                     97
Head of Curriculum/Head of Special Education                38
Schools Officer                                             24
School Administrative Staff                                 16
Guidance Officer                                            12
Technical Officer                                           11
Other                                                        7
Professional Officer                                         7
School Based Professional Staff (Therapist, nurse, etc)      5
School Principal                                             5
NaN                                                          5
Deputy Principal                                             4
Business Service Manager                                     4
Name: Position, dtype: int64
NaN                  367
Primary              161
Secondary            124
A01-A04               66
AO5-AO7               46
Special Education     33
AO8 and Above         14
PO1-PO4                8
Middle                 3
Name: Classification, dtype: int64
Metropolitan                135
Central Office              130
South East                  108
NaN                         105
Darling Downs South West     95
Central Queensland           84
North Coast                  75
North Queensland             53
Far North Queensland         37
Name: Region, dtype: int64
NaN                                           696
Education Queensland                           54
Information and Technologies                   26
Training and Tertiary Education Queensland     12
Other                                          11
Human Resources                                 6
Corporate Strategy and Peformance               5
Early Childhood Education and Care              3
Policy, Research, Legislation                   2
Infrastructure                                  2
Finance                                         1
Indigenous Education and Training Futures       1
Calliope State School                           1
Corporate Procurement                           1
Pacific Pines SHS                               1
Name: Business Unit, dtype: int64
Permanent Full-time    434
Permanent Part-time    308
Temporary Full-time     41
Temporary Part-time     24
Casual                  10
NaN                      5
Name: Employment Status, dtype: int64
False    800
True      22
Name: Career move to public sector, dtype: int64
False    742
True      80
Name: Career move to private sector, dtype: int64
False    788
True      34
Name: Interpersonal conflicts, dtype: int64
False    733
True      89
Name: Job dissatisfaction, dtype: int64
False    761
True      61
Name: Dissatisfaction with the department, dtype: int64
False    806
True      16
Name: Physical work environment, dtype: int64
False    765
True      57
Name: Lack of recognition, dtype: int64
False    794
True      28
Name: Lack of job security, dtype: int64
False    795
True      27
Name: Work location, dtype: int64
False    788
True      34
Name: Employment conditions, dtype: int64
False    760
True      62
Name: Maternity/family, dtype: int64
False    754
True      68
Name: Relocation, dtype: int64
False    785
True      37
Name: Study/Travel, dtype: int64
False    710
True     112
Name: Ill Health, dtype: int64
False    794
True      28
Name: Traumatic incident, dtype: int64
False    605
True     217
Name: Work life balance, dtype: int64
False    735
True      87
Name: Workload, dtype: int64
False    605
True     217
Name: None of the above, dtype: int64
Female    573
Male      225
NaN        24
Name: Gender, dtype: int64
61 or older      222
56-60            174
51-55            103
46-50             63
41-45             61
26-30             57
36-40             51
21-25             40
31-35             39
NaN               11
20 or younger      1
Name: Age, dtype: int64
NaN    806
Yes     16
Name: Aboriginal, dtype: int64
NaN    819
Yes      3
Name: Torres Strait, dtype: int64
NaN    815
Yes      7
Name: South Sea, dtype: int64
NaN    799
Yes     23
Name: Disability, dtype: int64
NaN    790
Yes     32
Name: NESB, dtype: int64

In [8]:
for i in tafe_updated.columns:
    print(tafe_updated[i].value_counts(dropna=False))

634389476488906000    1
634588206563125000    1
634819735079219000    1
634841254135625000    1
634691779624687000    1
634274566132353000    1
634395566956406000    1
634856190317969000    1
634888802240000000    1
634570010768125000    1
635012661372849000    1
634328288440210000    1
634761889415494000    1
634376433396563000    1
634774723180937000    1
634564018384531000    1
634395434816250000    1
634570247249322000    1
634671038100781000    1
635000261847849000    1
634768690087369000    1
634581240039844000    1
634702358502500000    1
634574339025156000    1
634760046003775000    1
634640883155625000    1
634707388560312000    1
634689360748125000    1
634800762016250000    1
634908792602334000    1
634487078738750000    1
634654936843281000    1
634328087765991000    1
634469060191250000    1
634860371426719000    1
634595867098906000    1
635021852425625000    1
635065973820625000    1
634365459611250000    1
634731736579172000    1
634907979681875000    1
634412849002344000    1
634395453810469000    1
634552870206250000    1
634735216223306000    1
634577056474375000    1
634576020012813000    1
634335805202554000    1
635025280694687000    1
634273756721501000    1
                     ..
634852685801719000    1
634323115021460000    1
634975184457305000    1
635073030973791000    1
634937260824531000    1
634525935995156000    1
634599352590156000    1
634744567729869000    1
634209003247164000    1
634975203429336000    1
634411016475156000    1
634617650635469000    1
634897699783281000    1
634323709021402000    1
634218492665219000    1
634707564443167000    1
634257448030289000    1
634761907884088000    1
634745331056829000    1
634358247777344000    1
634454356619531000    1
634843849052500000    1
634241795347656000    1
634762679684244000    1
634722949292074000    1
634498298127969000    1
634326352243491000    1
634668639377500000    1
635004545579724000    1
634224469051226000    1
634496661404062000    1
634491780096563000    1
634623599234844000    1
634907791983427000    1
634466325765938000    1
634743600339485000    1
634455107975313000    1
634623528068438000    1
634854316269063000    1
634587358750312000    1
634576068194844000    1
634889766912500000    1
634878466942188000    1
634794639635781000    1
634201997218101000    1
634907915528428000    1
634558972484324000    1
634945048175625000    1
634587282300781000    1
634219274566469000    1
Name: Record ID, Length: 702, dtype: int64
Brisbane North Institute of TAFE         161
Southern Queensland Institute of TAFE    142
Central Queensland Institute of TAFE     108
Sunshine Coast Institute of TAFE          91
Tropical North Institute of TAFE          70
SkillsTech Australia                      57
Southbank Institute of Technology         43
Barrier Reef Institute of TAFE            14
Mount Isa Institute of TAFE               12
Wide Bay Institute of TAFE                 2
The Bremer Institute of TAFE               1
Metropolitan South Institute of TAFE       1
Name: Institute, dtype: int64
Non-Delivery (corporate)    432
Delivery (teaching)         270
Name: WorkArea, dtype: int64
 2011.0    268
 2012.0    235
 2010.0    103
 2013.0     85
NaN          7
 2009.0      4
Name: CESSATION YEAR, dtype: int64
Resignation                 340
Contract Expired            127
Retrenchment/ Redundancy    104
Retirement                   82
Transfer                     25
Termination                  23
NaN                           1
Name: Reason for ceasing employment, dtype: int64
-                              375
NaN                            265
Career Move - Public Sector     62
Name: Contributing Factors. Career Move - Public Sector , dtype: int64
-                               336
NaN                             265
Career Move - Private Sector    101
Name: Contributing Factors. Career Move - Private Sector , dtype: int64
-                                420
NaN                              265
Career Move - Self-employment     17
Name: Contributing Factors. Career Move - Self-employment, dtype: int64
-             403
NaN           265
Ill Health     34
Name: Contributing Factors. Ill Health, dtype: int64
-                   411
NaN                 265
Maternity/Family     26
Name: Contributing Factors. Maternity/Family, dtype: int64
-                                         371
NaN                                       265
Contributing Factors. Dissatisfaction      66
Name: Contributing Factors. Dissatisfaction, dtype: int64
-                      360
NaN                    265
Job Dissatisfaction     77
Name: Contributing Factors. Job Dissatisfaction, dtype: int64
-                         410
NaN                       265
Interpersonal Conflict     27
Name: Contributing Factors. Interpersonal Conflict, dtype: int64
-        421
NaN      265
Study     16
Name: Contributing Factors. Study, dtype: int64
-         415
NaN       265
Travel     22
Name: Contributing Factors. Travel, dtype: int64
-        331
NaN      265
Other    106
Name: Contributing Factors. Other, dtype: int64
-       391
NaN     265
NONE     46
Name: Contributing Factors. NONE, dtype: int64
Female    389
Male      207
NaN       106
Name: Gender. What is your Gender?, dtype: int64
56 or older      162
NaN              106
51-55             82
41  45           80
46  50           59
31  35           52
36  40           51
26  30           50
21  25           44
20 or younger     16
Name: CurrentAge. Current Age, dtype: int64
Permanent Full-time    237
Temporary Full-time    177
NaN                    106
Contract/casual         71
Permanent Part-time     59
Temporary Part-time     52
Name: Employment Type. Employment Type, dtype: int64
Administration (AO)           293
Teacher (including LVT)       201
NaN                           106
Professional Officer (PO)      33
Operational (OO)               24
Tutor                          16
Workplace Training Officer     11
Technical Officer (TO)         10
Executive (SES/SO)              6
Apprentice                      2
Name: Classification. Classification, dtype: int64
Less than 1 year      147
NaN                   106
1-2                   102
3-4                    96
11-20                  89
More than 20 years     71
5-6                    48
7-10                   43
Name: LengthofServiceOverall. Overall Length of Service at Institute (in years), dtype: int64
Less than 1 year      177
1-2                   113
NaN                   106
3-4                    86
11-20                  82
More than 20 years     54
7-10                   44
5-6                    40
Name: LengthofServiceCurrent. Length of Service at current workplace (in years), dtype: int64

In [9]:
dete_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 35 columns):
ID                                     822 non-null int64
SeparationType                         822 non-null object
Cease Date                             788 non-null object
DETE Start Date                        749 non-null float64
Role Start Date                        724 non-null float64
Position                               817 non-null object
Classification                         455 non-null object
Region                                 717 non-null object
Business Unit                          126 non-null object
Employment Status                      817 non-null object
Career move to public sector           822 non-null bool
Career move to private sector          822 non-null bool
Interpersonal conflicts                822 non-null bool
Job dissatisfaction                    822 non-null bool
Dissatisfaction with the department    822 non-null bool
Physical work environment              822 non-null bool
Lack of recognition                    822 non-null bool
Lack of job security                   822 non-null bool
Work location                          822 non-null bool
Employment conditions                  822 non-null bool
Maternity/family                       822 non-null bool
Relocation                             822 non-null bool
Study/Travel                           822 non-null bool
Ill Health                             822 non-null bool
Traumatic incident                     822 non-null bool
Work life balance                      822 non-null bool
Workload                               822 non-null bool
None of the above                      822 non-null bool
Gender                                 798 non-null object
Age                                    811 non-null object
Aboriginal                             16 non-null object
Torres Strait                          3 non-null object
South Sea                              7 non-null object
Disability                             23 non-null object
NESB                                   32 non-null object
dtypes: bool(18), float64(2), int64(1), object(14)
memory usage: 123.7+ KB

In [10]:
tafe_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 23 columns):
Record ID                                                                    702 non-null int64
Institute                                                                    702 non-null object
WorkArea                                                                     702 non-null object
CESSATION YEAR                                                               695 non-null float64
Reason for ceasing employment                                                701 non-null object
Contributing Factors. Career Move - Public Sector                            437 non-null object
Contributing Factors. Career Move - Private Sector                           437 non-null object
Contributing Factors. Career Move - Self-employment                          437 non-null object
Contributing Factors. Ill Health                                             437 non-null object
Contributing Factors. Maternity/Family                                       437 non-null object
Contributing Factors. Dissatisfaction                                        437 non-null object
Contributing Factors. Job Dissatisfaction                                    437 non-null object
Contributing Factors. Interpersonal Conflict                                 437 non-null object
Contributing Factors. Study                                                  437 non-null object
Contributing Factors. Travel                                                 437 non-null object
Contributing Factors. Other                                                  437 non-null object
Contributing Factors. NONE                                                   437 non-null object
Gender. What is your Gender?                                             596 non-null object
CurrentAge. Current Age                                                  596 non-null object
Employment Type. Employment Type                                         596 non-null object
Classification. Classification                                           596 non-null object
LengthofServiceOverall. Overall Length of Service at Institute (in years)    596 non-null object
LengthofServiceCurrent. Length of Service at current workplace (in years)    596 non-null object
dtypes: float64(1), int64(1), object(21)
memory usage: 126.2+ KB

## Research Questions
- Are employees who only worked for the institutes for a short period of time resigning due to some kind of dissatisfaction? What about employees who have been there longer?
- Are younger employees resigning due to some kind of dissatisfaction? What about older employees?