# Analysis of Employee Exit Surveys from Australian Educational Institutions
### The purpose of this analysis was to answer the following questions:
- Are employees resigning from the Department of Education, Training and Employment (DETE) and Technical and Further Education (TAFE) institues due to some sort of dissatisfaction? 
- Are employees who have worked at the institutes for a short period of time resigning for some sort of dissatisfaction?
- Are employees who have worked at the institutes for a longer period of time resigning for some sort of dissatisfaction?
- Are younger employees resigning due to some sort of dissatisfaction?
- Are older employees resigning due to some sort of dissatisfaction?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

exit_surveys = pd.read_csv('../data/data_cleaning/combined_data.csv')

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [2]:
exit_surveys.isnull().sum()

id                               0
separation_type                  0
cease_date                       0
employment_status                0
career_move_to_public_sector     0
career_move_to_private_sector    0
interpersonal_conflicts          0
job_dissatisfaction              0
maternity_family                 0
ill_health                       0
gender                           0
age                              0
length_of_service                0
dataset                          0
dtype: int64

In [3]:
exit_surveys.pivot_table(index='separation_type', values='job_dissatisfaction').sort_values(by='job_dissatisfaction')

                          job_dissatisfaction
separation_type
Retirement                           0.109005
Other                                0.128205
Transfer                             0.150000
Resignation                          0.166065
Termination                          0.685714
Contract Expired                     0.794118
Retrenchment/ Redundancy             1.000000

In [4]:
resigned = exit_surveys[exit_surveys['separation_type'] == 'Resignation']

In [5]:
bool_cols = [column for column in exit_surveys.columns if exit_surveys[column].dtype == bool]

In [6]:
resigned.pivot_table(index='length_of_service', 
                     values=bool_cols, columns='age', 
                     aggfunc=[np.sum, np.mean], 
                     margins=True)

                                             sum                          \
                   career_move_to_private_sector
age                                20 or younger 21-25 26-30 31-35 36-40
length_of_service
1-2                                          0.0   6.0   5.0   1.0   5.0
11-20                                        NaN   NaN   NaN   3.0   5.0
3-4                                          1.0   7.0   6.0   1.0   2.0
5-6                                          NaN   1.0   7.0   3.0   3.0
7-10                                         NaN   0.0   5.0   3.0   4.0
Less than 1 year                             1.0   3.0   4.0   8.0   5.0
More than 20 years                           NaN   NaN   NaN   NaN   NaN
All                                          2.0  17.0  27.0  19.0  24.0

                                                         \

age                41-45 46-50 51-55 56 or older    All
length_of_service
1-2                  4.0   5.0   2.0         0.0   28.0
11-20                2.0   4.0   4.0         1.0   19.0
3-4                  6.0   4.0   3.0         2.0   32.0
5-6                  3.0   3.0   0.0         1.0   21.0
7-10                 2.0   4.0   2.0         0.0   20.0
Less than 1 year     3.0   3.0   0.0         0.0   27.0
More than 20 years   1.0   1.0   0.0         2.0    4.0
All                 21.0  24.0  11.0         6.0  151.0

                                                                               \
                   career_move_to_public_sector
age                               20 or younger 21-25 26-30 31-35 36-40 41-45
length_of_service
1-2                                         0.0   4.0   2.0   1.0   0.0   3.0
11-20                                       NaN   NaN   NaN   1.0   0.0   4.0
3-4                                         0.0   2.0   0.0   0.0   0.0   3.0
5-6                                         NaN   1.0   1.0   0.0   2.0   2.0
7-10                                        NaN   1.0   2.0   1.0   1.0   0.0
Less than 1 year                            1.0   3.0   2.0   0.0   0.0   2.0
More than 20 years                          NaN   NaN   NaN   NaN   NaN   1.0
All                                         1.0  11.0   7.0   3.0   3.0  15.0

                                                                            \
                                                    ill_health
age                46-50 51-55 56 or older   All 20 or younger 21-25 26-30
length_of_service
1-2                  1.0   3.0         0.0  14.0           0.0   0.0   0.0
11-20                1.0   1.0         0.0   7.0           NaN   NaN   NaN
3-4                  0.0   0.0         1.0   6.0           1.0   1.0   0.0
5-6                  3.0   0.0         0.0   9.0           NaN   0.0   0.0
7-10                 0.0   0.0         0.0   5.0           NaN   0.0   0.0
Less than 1 year     2.0   2.0         0.0  12.0           0.0   0.0   0.0
More than 20 years   2.0   0.0         2.0   5.0           NaN   NaN   NaN
All                  9.0   6.0         3.0  58.0           1.0   1.0   0.0

                                                                    \

age                31-35 36-40 41-45 46-50 51-55 56 or older   All
length_of_service
1-2                  0.0   0.0   1.0   1.0   0.0         1.0   3.0
11-20                1.0   0.0   0.0   1.0   1.0         5.0   8.0
3-4                  0.0   0.0   2.0   0.0   0.0         2.0   6.0
5-6                  0.0   0.0   1.0   1.0   1.0         1.0   4.0
7-10                 1.0   2.0   1.0   0.0   0.0         1.0   5.0
Less than 1 year     0.0   0.0   2.0   0.0   1.0         0.0   3.0
More than 20 years   NaN   NaN   0.0   1.0   1.0         2.0   4.0
All                  2.0   2.0   7.0   4.0   4.0        12.0  33.0

                                                                          \
                   interpersonal_conflicts
age                          20 or younger 21-25 26-30 31-35 36-40 41-45
length_of_service
1-2                                    1.0   1.0   1.0   0.0   2.0   0.0
11-20                                  NaN   NaN   NaN   0.0   0.0   0.0
3-4                                    0.0   1.0   1.0   0.0   1.0   1.0
5-6                                    NaN   0.0   1.0   2.0   1.0   0.0
7-10                                   NaN   0.0   0.0   0.0   1.0   0.0
Less than 1 year                       0.0   0.0   0.0   0.0   2.0   0.0
More than 20 years                     NaN   NaN   NaN   NaN   NaN   1.0
All                                    1.0   2.0   3.0   2.0   7.0   2.0

                                                                            \
                                                 job_dissatisfaction
age                46-50 51-55 56 or older   All       20 or younger 21-25
length_of_service
1-2                  0.0   1.0         0.0   6.0                 0.0   4.0
11-20                3.0   0.0         2.0   5.0                 NaN   NaN
3-4                  0.0   0.0         0.0   4.0                 1.0   3.0
5-6                  1.0   0.0         0.0   5.0                 NaN   0.0
7-10                 2.0   0.0         0.0   3.0                 NaN   0.0
Less than 1 year     1.0   3.0         0.0   6.0                 1.0   1.0
More than 20 years   0.0   4.0         2.0   7.0                 NaN   NaN
All                  7.0   8.0         4.0  36.0                 2.0   8.0

                                                                          \

age                26-30 31-35 36-40 41-45 46-50 51-55 56 or older   All
length_of_service
1-2                  3.0   1.0   3.0   1.0   1.0   0.0         0.0  13.0
11-20                NaN   1.0   2.0   3.0   1.0   2.0         0.0   9.0
3-4                  3.0   1.0   0.0   4.0   0.0   1.0         2.0  15.0
5-6                  3.0   2.0   3.0   0.0   3.0   0.0         0.0  11.0
7-10                 1.0   5.0   1.0   1.0   2.0   3.0         1.0  14.0
Less than 1 year     2.0   1.0   1.0   3.0   4.0   5.0         0.0  18.0
More than 20 years   NaN   NaN   NaN   0.0   1.0   6.0         5.0  12.0
All                 12.0  11.0  10.0  12.0  12.0  17.0         8.0  92.0

                                                                               \
                   maternity_family
age                   20 or younger 21-25 26-30 31-35 36-40 41-45 46-50 51-55
length_of_service
1-2                             1.0   2.0   0.0   4.0   1.0   1.0   0.0   0.0
11-20                           NaN   NaN   NaN   1.0   3.0   5.0   1.0   1.0
3-4                             1.0   0.0   1.0   1.0   1.0   2.0   1.0   0.0
5-6                             NaN   0.0   1.0   1.0   1.0   2.0   3.0   1.0
7-10                            NaN   0.0   2.0   2.0   1.0   0.0   0.0   1.0
Less than 1 year                0.0   0.0   2.0   0.0   1.0   0.0   0.0   1.0
More than 20 years              NaN   NaN   NaN   NaN   NaN   0.0   1.0   1.0
All                             2.0   2.0   6.0   9.0   8.0  10.0   6.0   5.0

                                                              mean            \
                                     career_move_to_private_sector
age                56 or older   All                 20 or younger     21-25
length_of_service
1-2                        0.0   9.0                      0.000000  0.230769
11-20                      1.0  12.0                           NaN       NaN
3-4                        1.0   8.0                      0.333333  0.388889
5-6                        1.0  10.0                           NaN  0.333333
7-10                       1.0   7.0                           NaN  0.000000
Less than 1 year           0.0   4.0                      0.200000  0.272727
More than 20 years         2.0   4.0                           NaN       NaN
All                        6.0  54.0                      0.200000  0.288136

                                                                      \

age                    26-30     31-35     36-40     41-45     46-50
length_of_service
1-2                 0.454545  0.076923  0.500000  0.210526  0.555556
11-20                    NaN  0.600000  0.384615  0.117647  0.266667
3-4                 0.461538  0.076923  0.200000  0.352941  0.571429
5-6                 0.500000  0.500000  0.272727  0.250000  0.214286
7-10                0.454545  0.250000  0.400000  0.333333  0.363636
Less than 1 year    0.285714  0.727273  0.384615  0.272727  0.300000
More than 20 years       NaN       NaN       NaN  0.142857  0.166667
All                 0.428571  0.316667  0.358209  0.235955  0.333333

                                                    \

age                    51-55 56 or older       All
length_of_service
1-2                 0.285714    0.000000  0.280000
11-20               0.363636    0.055556  0.240506
3-4                 0.333333    0.250000  0.326531
5-6                 0.000000    0.166667  0.287671
7-10                0.333333    0.000000  0.322581
Less than 1 year    0.000000    0.000000  0.293478
More than 20 years  0.000000    0.083333  0.080000
All                 0.161765    0.090909  0.272563

                                                                               \
                   career_move_to_public_sector
age                               20 or younger     21-25     26-30     31-35
length_of_service
1-2                                         0.0  0.153846  0.181818  0.076923
11-20                                       NaN       NaN       NaN  0.200000
3-4                                         0.0  0.111111  0.000000  0.000000
5-6                                         NaN  0.333333  0.071429  0.000000
7-10                                        NaN  1.000000  0.181818  0.083333
Less than 1 year                            0.2  0.272727  0.142857  0.000000
More than 20 years                          NaN       NaN       NaN       NaN
All                                         0.1  0.186441  0.111111  0.050000

                                                                        \

age                    36-40     41-45     46-50     51-55 56 or older
length_of_service
1-2                 0.000000  0.157895  0.111111  0.428571    0.000000
11-20               0.000000  0.235294  0.066667  0.090909    0.000000
3-4                 0.000000  0.176471  0.000000  0.000000    0.125000
5-6                 0.181818  0.166667  0.214286  0.000000    0.000000
7-10                0.100000  0.000000  0.000000  0.000000    0.000000
Less than 1 year    0.000000  0.181818  0.200000  0.133333    0.000000
More than 20 years       NaN  0.142857  0.333333  0.000000    0.083333
All                 0.044776  0.168539  0.125000  0.088235    0.045455

                                                                      \
                                ill_health
age                      All 20 or younger     21-25 26-30     31-35
length_of_service
1-2                 0.140000      0.000000  0.000000   0.0  0.000000
11-20               0.088608           NaN       NaN   NaN  0.200000
3-4                 0.061224      0.333333  0.055556   0.0  0.000000
5-6                 0.123288           NaN  0.000000   0.0  0.000000
7-10                0.080645           NaN  0.000000   0.0  0.083333
Less than 1 year    0.130435      0.000000  0.000000   0.0  0.000000
More than 20 years  0.100000           NaN       NaN   NaN       NaN
All                 0.104693      0.100000  0.016949   0.0  0.033333

                                                                        \

age                    36-40     41-45     46-50     51-55 56 or older
length_of_service
1-2                 0.000000  0.052632  0.111111  0.000000    0.333333
11-20               0.000000  0.000000  0.066667  0.090909    0.277778
3-4                 0.000000  0.117647  0.000000  0.000000    0.250000
5-6                 0.000000  0.083333  0.071429  0.142857    0.166667
7-10                0.200000  0.166667  0.000000  0.000000    0.200000
Less than 1 year    0.000000  0.181818  0.000000  0.066667    0.000000
More than 20 years       NaN  0.000000  0.166667  0.076923    0.083333
All                 0.029851  0.078652  0.055556  0.058824    0.181818

                                                                          \
                             interpersonal_conflicts
age                      All           20 or younger     21-25     26-30
length_of_service
1-2                 0.030000                     0.5  0.038462  0.090909
11-20               0.101266                     NaN       NaN       NaN
3-4                 0.061224                     0.0  0.055556  0.076923
5-6                 0.054795                     NaN  0.000000  0.071429
7-10                0.080645                     NaN  0.000000  0.000000
Less than 1 year    0.032609                     0.0  0.000000  0.000000
More than 20 years  0.080000                     NaN       NaN       NaN
All                 0.059567                     0.1  0.033898  0.047619

                                                                      \

age                    31-35     36-40     41-45     46-50     51-55
length_of_service
1-2                 0.000000  0.200000  0.000000  0.000000  0.142857
11-20               0.000000  0.000000  0.000000  0.200000  0.000000
3-4                 0.000000  0.100000  0.058824  0.000000  0.000000
5-6                 0.333333  0.090909  0.000000  0.071429  0.000000
7-10                0.000000  0.100000  0.000000  0.181818  0.000000
Less than 1 year    0.000000  0.153846  0.000000  0.100000  0.200000
More than 20 years       NaN       NaN  0.142857  0.000000  0.307692
All                 0.033333  0.104478  0.022472  0.097222  0.117647

                                                                        \
                                         job_dissatisfaction
age                56 or older       All       20 or younger     21-25
length_of_service
1-2                   0.000000  0.060000            0.000000  0.153846
11-20                 0.111111  0.063291                 NaN       NaN
3-4                   0.000000  0.040816            0.333333  0.166667
5-6                   0.000000  0.068493                 NaN  0.000000
7-10                  0.000000  0.048387                 NaN  0.000000
Less than 1 year      0.000000  0.065217            0.200000  0.090909
More than 20 years    0.083333  0.140000                 NaN       NaN
All                   0.060606  0.064982            0.200000  0.135593

                                                                      \

age                    26-30     31-35     36-40     41-45     46-50
length_of_service
1-2                 0.272727  0.076923  0.300000  0.052632  0.111111
11-20                    NaN  0.200000  0.153846  0.176471  0.066667
3-4                 0.230769  0.076923  0.000000  0.235294  0.000000
5-6                 0.214286  0.333333  0.272727  0.000000  0.214286
7-10                0.090909  0.416667  0.100000  0.166667  0.181818
Less than 1 year    0.142857  0.090909  0.076923  0.272727  0.400000
More than 20 years       NaN       NaN       NaN  0.000000  0.166667
All                 0.190476  0.183333  0.149254  0.134831  0.166667

                                                                               \
                                                   maternity_family
age                    51-55 56 or older       All    20 or younger     21-25
length_of_service
1-2                 0.000000    0.000000  0.130000         0.500000  0.076923
11-20               0.181818    0.000000  0.113924              NaN       NaN
3-4                 0.111111    0.250000  0.153061         0.333333  0.000000
5-6                 0.000000    0.000000  0.150685              NaN  0.000000
7-10                0.500000    0.200000  0.225806              NaN  0.000000
Less than 1 year    0.333333    0.000000  0.195652         0.000000  0.000000
More than 20 years  0.461538    0.208333  0.240000              NaN       NaN
All                 0.250000    0.121212  0.166065         0.200000  0.033898

                                                                      \

age                    26-30     31-35     36-40     41-45     46-50
length_of_service
1-2                 0.000000  0.307692  0.100000  0.052632  0.000000
11-20                    NaN  0.200000  0.230769  0.294118  0.066667
3-4                 0.076923  0.076923  0.100000  0.117647  0.142857
5-6                 0.071429  0.166667  0.090909  0.166667  0.214286
7-10                0.181818  0.166667  0.100000  0.000000  0.000000
Less than 1 year    0.142857  0.000000  0.076923  0.000000  0.000000
More than 20 years       NaN       NaN       NaN  0.000000  0.166667
All                 0.095238  0.150000  0.119403  0.112360  0.083333



age                    51-55 56 or older       All
length_of_service
1-2                 0.000000    0.000000  0.090000
11-20               0.090909    0.055556  0.151899
3-4                 0.000000    0.125000  0.081633
5-6                 0.142857    0.166667  0.136986
7-10                0.166667    0.200000  0.112903
Less than 1 year    0.066667    0.000000  0.043478
More than 20 years  0.076923    0.083333  0.080000
All                 0.073529    0.090909  0.097473

In [7]:
resigned.length_of_service.value_counts()

1-2                   100
3-4                    98
Less than 1 year       92
11-20                  79
5-6                    73
7-10                   62
More than 20 years     50
Name: length_of_service, dtype: int64